.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f2f5;

  .login-card {
    width: 320px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    .ant-card-head-title {
      text-align: center;
      font-size: 20px;
    }

    .login-form {
      .ant-form-item {
        margin-bottom: 24px;
      }

      .login-button {
        width: 100%;
      }
    }
  }
}
